<h1><%= @power.name %></h1>

<h3>Description:</h3>
<blockquote><%= @power.description %>
</blockquote>

<br>
<%= link_to "All heroines.", heroines_path %>
<br>
<%= link_to "All powers.", powers_path %>
