<h3><%= @power.name %></h3>

Description: <%= @power.description %><br><br>

<%= button_to "Return to Heroines", heroines_path, method: "get" %><br>
<%= button_to "Return to Powers", powers_path, method: "get" %>
