<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, "/heroines/#{heroine.id}" %>
    </li>
    <br>
  <% end %>
</ul>

<br>
<hr>
<p>Search by Powers:
  <%= form_tag '/heroines' do%>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>

<%end%>
</p>

<a href="/heroines/new"><button>Create a New Heroine</button></a>
