<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<h3><%= button_to "Create New Heroine", "/heroines/new", method: :get %></h3>

<h4> <%= link_to "Powers Home Page", powers_path  %> </h4>
